body {
	background-color: #294552;
	color: gray;
	font-weight:400;
    line-height:1.8em;
	margin: 0 50px 0 50px;
	font-family: century gothic;
}
body, html{
	height:100%;
	Scroll-behavior: smooth;
}
a {
	text-decoration: none;
}

/*header*/

.header {
    right: 50px;
    width:100%;
    top: 0%;
    left: 0;
    display: grid;
    justify-content: none;
    align-items: center;
    z-index: 1;
    text-align: right; 
	position: fixed;
	background-color: #294552;
	margin: 0;
	opacity: 0.80;
	margin-top:1px;
	margin-bottom: 0px;
	
	
}

/*button*/

.button{
	color: black;
	transition: all .5s ease-out;
}
}

/*MENU BAR*/

#main-menu {
	padding: 10px;
	margin: 0;
	text-align: center;
	list-style: none;    
	display: grid;       
	grid-gap: 50px;          
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr ;
	width: 100%;
	background-color: black;
	position: fixed;
}

/*covers*/

#cover{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
	min-height: 100%;
	background-image: url(../images/cover.jpg);
	margin-bottom: 15px;
	margin-right: 3px;
	margin-top:80px;
}
.cover1{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
	min-height: 100%;
	background-image: url(../images/skills.jpg);
	margin-bottom: 15px;
	margin-top: 15px;

}
.cover3{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
	min-height: 100%;
	background-image: url(../images/edu.jpg);
	margin-bottom: 15px;
	margin-top: 15px;
}

.cover5{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
	min-height: 100%;
	background-image: url(../images/skills1.jpg);
	margin-bottom: 1px;
	margin-top: 15px;
}
.cover7{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
	min-height: 100%;
	background-image: url(../images/1.jpg);
	margin-bottom: 10px;
	margin-top: 1px;
}

/*titles*/

.a{
	position:absolute;
	top:50%;
	width:92.4%;
	text-align:center;
	color: black;
	font-size: 80px;
	letter-spacing:8px;
	text-transform:uppercase;
}



.b{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	color: black;
	font-size: 60px;
	letter-spacing:8px;
	text-transform:uppercase;
}

.c{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	color: black;
	font-size: 60px;
	letter-spacing:8px;
	text-transform:uppercase;
}

.d{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	color: black;
	font-size: 60px;
	letter-spacing:8px;
	text-transform:uppercase;
	margin-top: 10px;
}

.e{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	color: black;
	font-size: 60px;
	letter-spacing:8px;
	text-transform:uppercase;
}

/*border*/

.border{
	background-color: #acc4ce;
	padding: 15px;
	opacity: 0.75;
	position: center;
	margin-top: 1px;
}

/*social*/

#websites {
	
	padding-top: 0px;
	padding-right: 40px;
	margin-bottom: 5px;
	padding-bottom: 0px;
}

#links {	
	text-align: center;
	color: #3e3e3b;
	margin-bottom: 0px;
	margin-top:0px;
	padding: 15px;
}

/*footer*/

.footer {
	background: #c0c0c0;
	padding-bottom: 3px;
	text-align: center;
	color: black;
	font-family: Century Gothic;
	margin-bottom: 10px;
	font-size: 20px;
	border: 10px solid gray;
	
}

/*1st id*/

#resume{
	text-align: center;
	background:white;
	padding: 80px;
	color: black;
	margin:5px 2px 12px 2px;
	border: 10px solid gray;
	
}
img{
	border-radius: 100%;
	float: center;;
}
.re{
	color: black;
	padding:3px;
	text-align: center;
	font-size: 18px;
}

/*2nd id*/

#educ{
	padding-top:5px;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 5px;
	margin-bottom: 15px;
}

#ab {
	font-size: 20px;
	text-align: center;
	border: 2px solid black;
	margin-top: 20px
}

#elem {
	font-size: 16px;
	line-height:30px;
	background: white;
	padding: 50px;
	color: black;
	text-align: center;
	border: 10px solid gray;
}
#hs{
	font-size: 16px;
	line-height:30px;
	background: white;
	padding: 50px;
	color: black;
	text-align: center;
	border: 10px solid gray;
}
#col{
	font-size: 16px;
	line-height:30px;
	background: white;
	padding: 50px;
	color: black;
	text-align: center;
	border: 10px solid gray;
}
	
	
img{
	border-radius: 100%;
	float: center;;
}

/*3rd id*/

#ski{
	padding: 20px;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 15px;
	margin-top: 2px;
	width: 100%;
	margin-left: 0px;
}

#uno{
	font-size: 20px;
	line-height:30px;
	background: white;
	padding: 55px;
	color:black;
	border: 10px solid gray;
}

#dos{
font-size: 20px;
	line-height:30px;
	background: white;
	padding: 55px;
	 color:black;
	 border: 10px solid gray;
}

#tres{
	font-size: 20px;
	line-height:30px;
	background: white;
	padding: 55px;
	 color:black;
	 border: 10px solid gray;	 
	 margin-right: 45px;
	
}

#sk {
	font-size: 20px;
	text-align: center;
	border: 2px solid black;
	
}

/*4th id*/

#exp{
	background-color: white;
	color: black;
	text-align: justify;
	box-sizing: border-box;
	border: 10px solid gray;
}

#ta{
	font-family: century gothic;
	border-collapse: collapse;
	width: 91%;
	font-size: 40px;
	padding-top: 10px;
	text-align: center;
	border-bottom: 10px solid gray;
	padding: 60px;
	
}

table, th, td{
	text-align: center;
	padding: 8px;
}


/*5th id*/

#abou{
	
	background:white;
	padding: 80px;
	color: black;
	margin:5px 2px 12px 2px;
	border: 10px solid gray;
	
}

#am{
	color: black;
	font-size: 30px;
	text-align: left;
	list-style: none;
	text-align: center;
	
	
	
}

#a1{
	list-style: none;
	margin-left: 70px;
	color: black;
	font-size: 18px;
	text-align: left;
}